{% extends 'base.html' %}

{% block css %}<link rel='stylesheet' type='text/css' href='{{ static_url }}css/vle.css'/>{% endblock %}

{% block script %}
    <script type="text/javascript">

    function lower_indicies(f) {
        return f.replace(/(\d+)/g, "<sub>$1</sub>").replace(/ /g, '');
    }

    function capitalize(s) {
        return s.trim().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    }

    function process_sf(fluid) {
        var re = /([^\(\)]+)/g;
        var names = fluid.name.match(re);
        var name = capitalize(names[0]);
        var aka = (names.length == 1 ? '' : capitalize(names[1]));
        var number = fluid.number;
        var formula = lower_indicies(fluid.formula);

        return {
            name: name,
            aka: aka,
            number: number,
            formula: formula
        }
    }

    function fluid_process(data) {
        return $.map(data, process_sf);
    }

    function display_simple_fluid(ul, item) {
        var name_div = $("<div>");
        var name = "<p class='name'>" +  item.name + "</p>";
        var aka = "<p class='aka'>" + item.aka + "</p>";
        name_div.append(name).append(aka);

        var formula_div = $("<div class='left'>");
        var formula = "<p class='formula'>" + item.formula + "</p>";
        formula_div.append(formula);

        var number_div = $("<div class='left'>");
        var number = "<p class='number'>" + item.number + "</p>";
        number_div.append(number);

        var element = $("<div class='simple_fluid'>");
        element.append(name_div).append(formula_div).append(number_div);

        var anchor = $("<a>");
        anchor.append(element);

        return $("<li>").append(anchor).appendTo(ul);
    }

    var get_fluids = {
        source: function (request, response) {
            $.ajax({
                url: "http://localhost:8000/vle/db/",
                dataType: "json",
                success: function (data) {
                    response(fluid_process(data));
                }
            });
        },
        minLength: 1
    }

    $(function () {
        $("#fluid").autocomplete(get_fluids)
        .data( "ui-autocomplete" )._renderItem = display_simple_fluid;
    });
    </script>
{% endblock %}

{% block body %}
    <div style="margin:0 auto;width:1200px;height:800px;background-color:#d3d3d3;">

{#        <button type="button" value="Send" onclick="do_request()">Send</button>#}
    <input id="fluid"/>

    <p>H<sub>2</sub>O</p>

    </div>
{% endblock %}