{% extends 'base.html' %}

{% block css %}<link rel='stylesheet' type='text/css' href='{{ static_url }}css/vle.css'/>{% endblock %}

{% block script %}
    <script type="text/javascript">

    // general

    var PR_dictionary = {
        db_url: 'http://localhost:8000/vle/db/',
        hint: 'e.g. Water or 7732-18-5'
    }

    function fluid_2_html(fluid) {
        var name_div = $("<div>");
        var name = "<p class='name'>" + fluid.name + "</p>";
        var aka = "<p class='aka'>" + fluid.aka + "</p>";
        name_div.append(name).append(aka);

        var formula_div = $("<div class='left'>");
        var formula = "<p class='formula'>" + fluid.formula + "</p>";
        formula_div.append(formula);

        var number_div = $("<div class='left'>");
        var number = "<p class='number'>" + fluid.number + "</p>";
        number_div.append(number);

        var element = $("<div class='simple_fluid'>");
        element.append(name_div).append(formula_div).append(number_div);
        return element;
    }


    function formulate(f) {
        return f.replace(/(\d+)/g, "<sub>$1</sub>").replace(/ /g, '');
    }

    function capitalize(s) {
        return s.trim().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    }

    function prepare_4_printing(fluid) {
        var re = /([^\(\)]+)/g;
        var names = fluid.name.match(re);
        var name = capitalize(names[0]);
        var aka = (names.length == 1 ? '' : capitalize(names[1]));
        var number = fluid.number;
        var formula = formulate(fluid.formula);

        var prepared = {
            name: name,
            aka: aka,
            number: number,
            formula: formula
        };

        for (property in fluid) {
            switch (property) {
                case 'name':
                case 'number':
                case 'formula':
                    break;
                default:
                    if (fluid.hasOwnProperty(property)) {
                        prepared[property] = fluid[property];
                    }
            }
        }

        return prepared;
    }

    function process_json(data) {
        return $.map(data, prepare_4_printing);
    }


    // db access

    function db_query(datum, callback) {
        $.ajax({
            url: PR_dictionary.db_url,
            dataType: 'json',
            data: datum,
            success: callback
        });
    }

    // selection

    var fluid_selection_descriptor = {
        source: function (request, response) {

            var datum = {
                query: 'string',
                string: request.term.toLowerCase()
            };

            function processing(data) {
                response(process_json(data));
            }

            db_query(datum, processing);
        },
        minLength: 2,
        select: function(event, ui) {
            choose_fluid(ui.item.number);
        },
        messages: {
            noResults: '',
            results: function() {}
        }
    }

    // parametrization

    function choose_fluid(number) {
        var datum = {
            query: 'number',
            number: number
        }

        function processing(data) {
            var processed = process_json(data);
            var element = fluid_2_html(processed[0]);
            var target_div = $('div#fluid_info');
            target_div.empty().append(element);
        }

        db_query(datum, processing);
    }

    // plot

    // initialization

    function display_simple_fluid(ul, item) {
        var element = fluid_2_html(item);
        var anchor = $("<a>");
        anchor.append(element);

        return $("<li>").append(anchor).appendTo(ul);
    }


    $(function () {
        var fs = $("#fluid_selection");

        fs.autocomplete(fluid_selection_descriptor)
            .data( "ui-autocomplete" )._renderItem = display_simple_fluid;

        fs.on('focus', function () {this.value = '';});
        fs.on('blur', function () {this.value = PR_dictionary.hint;});
        fs.val(PR_dictionary.hint);
    });
    </script>
{% endblock %}

{% block body %}
    <div id="selection" class="left">
        <input id="fluid_selection" class="center"/>
    </div>

    <div id="fluid_info" class="left">
    </div>
{% endblock %}