{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div style="width: 700px" class="center">
        <h2>Hey,</h2>

        <p>this project is nearly at its origin. It is oriented on mainframes with
        resolution at least 1200x800.</p>

        <p>I am trying to contribute as fast, as I can.
            Right now you could try
            <a href="/vle/">Peng-Robinson equation</a>.</p>

        <p>
            Stay tuned.
        </p>
    </div>
{% endblock %}
